/* Buat Variabel Warna */
:root {
  --primary: #315cdd;
  --bg: #ffffff;
  --nav: #9bd2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* horizontal */
  align-items: center; /* vertical */
  padding: 0.1rem 7%; /* paddingnya 1.4 * 16px dan space kiri kanan ada 7%*/
  background-color: var(--nav);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
}

.navbar .navbar-logo img {
  width: 50px;
  margin-right: 10px; 
}

.navbar .navbar-logo .logo-text {
  display: flex;
  flex-direction: column; 
}

.navbar .navbar-logo .logo-text span {
  font-size: 1.2rem;
  color: #000480;
  font-weight: 700; 
  text-transform: uppercase;
}



.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 2rem;
  color: black;
}

.navbar .navbar-nav a:hover {
  display: inline-block;
  padding: 0.3rem 1rem ;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

/* .navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
} */

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* About Section */
.about{
  padding: 8rem 7% 1.4rem;
}

.about h2{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 1%;
  border: #000000 1px solid ;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: justify;
}
.about .row .content a {
  display: inline-block;
  padding: 0.3rem 1rem ;
  font-size: 1.3rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
}
/* Footer */
footer {
  background-color: var(--nav);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding: 1rem 0 1rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #000000;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #000000;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}
footer .credit a {
  color: black;
  font-weight: 700;
}


/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: transparent;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    backdrop-filter: blur(10px);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a {
    color: black;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */
@media (max-width: 550px) {
  html {
    font-size: 62.5%;
  }
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding-top: 5px;
  }
  .about .row .content h3 {
    text-align: center;
  }
  
}
